@model List<Department>

<table>
    <thead>
        <tr>
            <th>
                Resim
            </th>
            <th>
                Bölüm Adı
            </th>
            <th>
                #
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td><img style="width:75px" src="@item.Image"></td>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>